server:
  port: 8080
  servlet:
    context-path: /
  tomcat:
    uri-encoding: UTF-8
    accept-count: 1000
    threads:
      max: 800
      min-spare: 100
mybatis-plus:
  mapper-locations: classpath:mapper/*Mapper.xml
  global-config:
    db-config:
      table-prefix: tb_
      logic-delete-field: del_flag
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: assign_id
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
    map-underscore-to-camel-case: true
  type-aliases-package: com.bi.**.domain
logging:
  level:
    com.bi: debug
    org.springframework: warn
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30天）
  expireTime: 259200
spring:
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  security:
    user:
      name: admin
      password: 123456
      roles:
        - ADMIN
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/element?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
    username: root
    password: 986a188f
    dbcp2:
      initialSize: 5
      minIdle: 10
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      validationQuery: SELECT 1 FROM DUAL
  profiles:
    active: druid
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
  devtools:
    restart:
      enabled: true
  data:
    redis:
      host: 192.168.30.100
      port: 6379
      database: 1
      password: 986a188f
      timeout: 10s
      lettuce:
        pool:
          min-idle: 0
          max-idle: 8
          max-active: 8
          max-wait: -1ms