<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduate.mapper.NodeMapper">
    <resultMap id="baseMap" type="com.example.graduate.pojo.Node">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="startTime" column="start_time"/>
        <result property="complexity" column="complexity"/>
    </resultMap>
</mapper>