<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bi.item.mapper.SubElementMapper">
    <resultMap id="baseMap" type="com.bi.item.pojo.SubElement">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="foundDate" column="found_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="pStartTime" column="predict_start_time"/>
        <result property="pEndTime" column="predict_end_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="accomplishStatus" column=""/>
        <result property="complexity" column="complexity"/>
        <result property="auID" column="au_id"/>
        <result property="cuID" column="cu_id"/>
    </resultMap>
    <insert id="addAllSubElement">
        <foreach collection="subElements" item="subElement" separator=";">
            insert into sub_element (title, e_id, description, found_time, predict_start_time, predict_end_time,
                                     complexity, cu_id)
            values (#{subElement.title}, #{id}, #{subElement.description}, #{subElement.foundDate},
                    #{subElement.pStartTime},
                    #{subElement.pEndTime},
                    #{subElement.complexity}, #{subElement.cuID});
        </foreach>
    </insert>

    <select id="getSubElementList" resultType="com.bi.item.pojo.SubElement">
        SELECT id,
               title,
               description,
               found_time,
               start_time,
               end_time,
               predict_start_time,
               predict_end_time,
               delete_flag,
               accomplish_status,
               complexity,
               au_id,
               cu_id
        FROM sub_element
        WHERE sub_element.e_id = #{eID}
    </select>
</mapper>