<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bi.element.mapper.UserMapper">

    <resultMap id="BaseMap" type="com.bi.element.domain.po.User">
        <id property="id" column="id"/>
        <result column="birth_day" property="birthDay"/>
        <result column="create_time" property="createTime"/>
        <result column="delete_flag" property="status"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="photo" property="photo"/>
    </resultMap>

    <delete id="deleteUU">
        DELETE
        FROM u_u
        <where>
            user_id = #{id} and
            <foreach collection="ids" item="pid" separator=" or ">
                friend_id =
                #{pid}
            </foreach>
        </where>
    </delete>

    <select id="getOneUserByID" resultMap="BaseMap">
        select *
        from tb_user
        where id = #{id}
    </select>

    <select id="getSurvivalUserList" resultMap="BaseMap" parameterType="com.bi.element.domain.po.User">
        select
        id,
        account,
        nickname,
        email,
        photo,
        phone,
        bothday,
        delete_flag,
        create_time
        from tb_user
        <where>
            <if test="account!=null">
                account =
                #{account}
            </if>
            <if test="nickname!=null">
                nickname =
                #{nickname}
            </if>
            <if test="email!=null">
                email =
                #{email}
            </if>
            <if test="phone">
                phone =
                #{phone}
            </if>
        </where>
    </select>

    <insert id="installOne" parameterType="com.bi.element.domain.po.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user (account, password, create_time)
        VALUES (#{account}, #{password}, #{createTime});
    </insert>

    <select id="getLoginUser" resultMap="BaseMap">
        select *
        from tb_user
        where account = #{account}
    </select>
    <select id="selectByUsername" resultMap="BaseMap">
        select *
        from tb_user
        where account = #{username}
    </select>

    <update id="updatePassword">
        UPDATE tb_user
        SET password = #{priorPassword}
        WHERE id = #{id};
    </update>
</mapper>